@page "/countries"
<PageTitle>Paises</PageTitle>
<GenericList MyList="Countries">
    <Body>
        <h3>Paises</h3>
        <div class="mb-3">
            <a href="/countries/create" class="btn btn-primary">Nuevo Pais</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pais</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            @country.Name
                        </td>
                        <td>
                            <a href="/countries/edit/@country.Id" class="btn btn-sm btn-warning">Editar</a>
                            <a href="/countries/details/@country.Id" class="btn btn-info btn-sm">Detalles</a>
                            <button @onclick="() => DeleteAsync(country)" class="btn btn-sm btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>



