@page "/categories/edit/{id:int}"

<h3>Editar Categoria</h3>
@if(Category == null)
{
    <Loading />
}
else
{
    <CategoryForm @ref="CategoryForm" Category="Category" OnValidSubmit="EditAsync" ReturnAction="Return" />
}